<h1>ADMIN VIEW</h1>
{{#each users}}
<ul>
    <li>user: {{this.email}} <br></li>
    <li>role: {{this.role}} <br></li>
<button type="button" onclick="UpdatePremium('{{this._id}}')">Become Premium</button>
<button type="button" onclick="deleteUser('{{this._id}}')">Delete User</button>
<br>

</ul>

{{/each}}

    <a href="/api/products">Products</a>
    <a href="/api/users/profile">Profile</a>
    <a href="/api/users/logout">Log Out</a>



<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/index.js"></script>