<h1>LOGIN</h1>
<form action="/users/login" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="login">
</form>
<a href="/users/register">Create account</a>