<h1>Welcome: {{this.firstName}} {{this.lastName}}</h1>
<h2>Email: {{this.email}}</h2>
<h2>Role: {{this.role}}</h2>


<br>
<a href="/api/products">Products |</a>
<a href="/api/users/logout">Log Out </a>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/index.js"></script>