<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scr/public/index.css">
    <title>LOTR Shop</title>
</head>
<body>
    {{{body}}}
    <script src="/scr/public/main.js"></script>
</body>
</html>